footer {
  background-color: #606060;
}
footer div.wrap {
  padding: 50px 0;
}
footer div.wrap h1 {
  background-image: url(../img/h1.png);
  width: 376px;
  height: 86px;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 0;
  background-color: #606060;
  z-index: 1;
  position: relative;
}
footer div.wrap div{
  margin-top: -16px;
  line-height: 2.5;
  font-size: 20px;
  text-align: center;
  border: 1px solid white;
  padding: 21px;
}
footer div.wrap div p { 
  color: white;
}
footer div.wrap div p:nth-child(2){
  
}
footer div.wrap div p:nth-child(3){
  
}